In [14]:
import os
import sys
import glob
import math
import pandas as pd
import numpy as np
import itertools
import random
import requests
import xml.etree.ElementTree as ET
import csv

import matplotlib.pyplot as plt
import matplotlib.animation as animation
import matplotlib.patches as patches

#import tensorflow_probability as tfp
import tensorflow as tf
from tensorflow import keras
from keras import backend as K
from keras.utils import np_utils
from keras.utils.vis_utils import model_to_dot
from keras.callbacks import EarlyStopping
from IPython.display import SVG

from sklearn.metrics import classification_report, confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer, normalize
from sklearn.preprocessing import MinMaxScaler
import warnings

warnings.filterwarnings('ignore')

from ipywidgets import FloatProgress
from IPython.display import display

fig_width = 12
plt.rcParams["font.size"] = 40
plt.rcParams['axes.labelsize'] = 40
plt.rcParams['axes.labelweight'] = 'bold'
#plt.tick_params(axis='x', which='both', bottom=False, top=False, labelbottom=False)
#plt.rcParams.keys()

from codes.utils.load_utils import num_labels, time_change, setup_dir, find_xml_filenames, find_csv_filenames

In [15]:
#data = pd.read_csv(r"G:\JaimeMorales\Codes\omizunagidori\database\omizunagidori\2022\labeled\LB01_l_acc.csv")
data = pd.read_csv(r"G:\JaimeMorales\Codes\omizunagidori\database\omizunagidori\2022\l_2022_acc.csv")

In [16]:
data["timestamp"] = pd.to_datetime(data["timestamp"],unit='ms')

In [17]:
data

,animal_tag,timestamp,acc_x,acc_y,acc_z,label,l_val,year
0,LB01,2022-08-26 20:13:01.000,0.011719,-0.105469,0.273438,unknown,0,2022
1,LB01,2022-08-26 20:13:01.032,0.105469,-0.199219,0.574219,unknown,0,2022
2,LB01,2022-08-26 20:13:01.064,-0.183594,0.175781,0.066406,unknown,0,2022
3,LB01,2022-08-26 20:13:01.096,-0.550781,-0.027344,-0.144531,unknown,0,2022
4,LB01,2022-08-26 20:13:01.129,-0.363281,-0.132813,-0.035156,unknown,0,2022
...,...,...,...,...,...,...,...,...
22942599,LB17,2022-09-18 09:14:59.838,-0.062500,-0.234375,2.093750,unknown,0,2022
22942600,LB17,2022-09-18 09:14:59.870,-0.433594,-0.074219,2.031250,unknown,0,2022
22942601,LB17,2022-09-18 09:14:59.903,-0.304688,-0.320313,1.878906,unknown,0,2022
22942602,LB17,2022-09-18 09:14:59.935,-0.062500,-0.554688,1.621094,unknown,0,2022
22942603,LB17,2022-09-18 09:14:59.967,-0.089844,-0.382813,1.113281,unknown,0,2022

In [18]:
dates = []

In [19]:
for i in range(len(data)):
    date = str(data['timestamp'][i].date())
    dates.append(date)

In [20]:
data['date'] = dates

In [21]:
data

,animal_tag,timestamp,acc_x,acc_y,acc_z,label,l_val,year,date
0,LB01,2022-08-26 20:13:01.000,0.011719,-0.105469,0.273438,unknown,0,2022,2022-08-26
1,LB01,2022-08-26 20:13:01.032,0.105469,-0.199219,0.574219,unknown,0,2022,2022-08-26
2,LB01,2022-08-26 20:13:01.064,-0.183594,0.175781,0.066406,unknown,0,2022,2022-08-26
3,LB01,2022-08-26 20:13:01.096,-0.550781,-0.027344,-0.144531,unknown,0,2022,2022-08-26
4,LB01,2022-08-26 20:13:01.129,-0.363281,-0.132813,-0.035156,unknown,0,2022,2022-08-26
...,...,...,...,...,...,...,...,...,...
22942599,LB17,2022-09-18 09:14:59.838,-0.062500,-0.234375,2.093750,unknown,0,2022,2022-09-18
22942600,LB17,2022-09-18 09:14:59.870,-0.433594,-0.074219,2.031250,unknown,0,2022,2022-09-18
22942601,LB17,2022-09-18 09:14:59.903,-0.304688,-0.320313,1.878906,unknown,0,2022,2022-09-18
22942602,LB17,2022-09-18 09:14:59.935,-0.062500,-0.554688,1.621094,unknown,0,2022,2022-09-18
22942603,LB17,2022-09-18 09:14:59.967,-0.089844,-0.382813,1.113281,unknown,0,2022,2022-09-18

In [8]:
data26 = data[data['date']=='2022-08-26']
data27 = data[data['date']=='2022-08-27']
data28 = data[data['date']=='2022-08-28']

In [9]:
data26.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)
data27.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)
data28.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)

In [10]:
new_data = data26.iloc[0:200000]

In [11]:
motif_candidates_dic_list, ts_1d = emd.find_motifs_from_emd(new_data, 30, 10, 10, 10, adaptive_break_points=True, z_threshold=0.01)

Motif candidates of size 1 successfully extracted
Motif candidates of size 2 successfully extracted
Motif candidates of size 3 successfully extracted
Motif candidates of size 4 successfully extracted
Motif candidates of size 5 successfully extracted
Motif candidates of size 6 successfully extracted
Motif candidates of size 7 successfully extracted
Motif candidates of size 8 successfully extracted
Motif candidates of size 9 successfully extracted
Motif candidates of size 10 successfully extracted
Motif candidates of size 11 successfully extracted
Motif candidates of size 12 successfully extracted

In [12]:
len(ts_1d)

200000

In [13]:
len(motif_candidates_dic_list[1]['members_ts_pointers'][0])

10

In [14]:
motif_candidates_dic_list[2]

{'pattern': ['jjigfddcba'],
 'mdl_cost': 3300829.96,
 'mean_dist': 0.43,
 'members_ts_pointers': [[155178,
   155179,
   155180,
   155181,
   155182,
   155183,
   155184,
   155185,
   155186,
   155187],
  [179308,
   179309,
   179310,
   179311,
   179312,
   179313,
   179314,
   179315,
   179316,
   179317]],
 'center_ts_pointers': [155178,
  155179,
  155180,
  155181,
  155182,
  155183,
  155184,
  155185,
  155186,
  155187]}