In [1]:
import os
import glob
import math
import pandas as pd
import numpy as np
import itertools
import random
import requests
import xml.etree.ElementTree as ET
import csv

import matplotlib.pyplot as plt
import matplotlib.animation as animation
import matplotlib.patches as patches

import tensorflow as tf
from tensorflow import keras
from keras import backend as K
from keras.utils import np_utils
from keras.utils.vis_utils import model_to_dot
from keras.callbacks import EarlyStopping
from IPython.display import SVG

import extendedMD
from extendedMD import emd, bs, dtwdist, mdl, motifs, patterns, pca, pruning, sax, viz

#import tensorflow_probability as tfp


from sklearn.metrics import classification_report, confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer, normalize
from sklearn.preprocessing import MinMaxScaler
import warnings

warnings.filterwarnings('ignore')

from ipywidgets import FloatProgress
from IPython.display import display

#fig_width = 12
plt.rcParams["font.size"] = 40
plt.rcParams['axes.labelsize'] = 40
plt.rcParams['axes.labelweight'] = 'bold'
#plt.tick_params(axis='x', which='both', bottom=False, top=False, labelbottom=False)
#plt.rcParams.keys()
time_format="%Y%m%d_%H:%M:%S.%f"

Using TensorFlow backend.

In [2]:
data = pd.read_csv(r"G:\JaimeMorales\Codes\biodata\codes\data\Y22\lbs01_acc.csv",parse_dates=["timestamp"])

In [3]:
data["timestamp"] = pd.to_datetime(data["timestamp"],format=time_format)

In [4]:
dates = []

In [5]:
for i in range(len(data)):
    date = str(data['timestamp'][i].date())
    dates.append(date)

In [6]:
data['date'] = dates

In [7]:
data

,timestamp,acc_x,acc_y,acc_z,activity_class,label,date
0,2022-08-26 20:13:01+00:00,0.011719,-0.105469,0.273438,NaN,NaN,2022-08-26
1,2022-08-26 20:13:01.032000+00:00,0.105469,-0.199219,0.574219,NaN,NaN,2022-08-26
2,2022-08-26 20:13:01.064000+00:00,-0.183594,0.175781,0.066406,NaN,NaN,2022-08-26
3,2022-08-26 20:13:01.096000+00:00,-0.550781,-0.027344,-0.144531,NaN,NaN,2022-08-26
4,2022-08-26 20:13:01.129000+00:00,-0.363281,-0.132813,-0.035156,NaN,NaN,2022-08-26
...,...,...,...,...,...,...,...
2446484,2022-08-28 05:06:20.838000+00:00,-0.062500,-0.093750,1.839844,NaN,NaN,2022-08-28
2446485,2022-08-28 05:06:20.870000+00:00,-0.066406,-0.066406,1.863281,NaN,NaN,2022-08-28
2446486,2022-08-28 05:06:20.903000+00:00,-0.105469,-0.277344,1.867188,NaN,NaN,2022-08-28
2446487,2022-08-28 05:06:20.935000+00:00,-0.156250,-0.507813,1.882813,NaN,NaN,2022-08-28
2446488,2022-08-28 05:06:20.967000+00:00,-0.183594,-0.355469,1.835938,NaN,NaN,2022-08-28

In [8]:
data26 = data[data['date']=='2022-08-26']
data27 = data[data['date']=='2022-08-27']
data28 = data[data['date']=='2022-08-28']

In [9]:
data26.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)
data27.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)
data28.drop(["timestamp","activity_class","label","date"],axis=1,inplace=True)

In [10]:
new_data = data26.iloc[0:200000]

In [11]:
motif_candidates_dic_list, ts_1d = emd.find_motifs_from_emd(new_data, 30, 10, 10, 10, adaptive_break_points=True, z_threshold=0.01)

Motif candidates of size 1 successfully extracted
Motif candidates of size 2 successfully extracted
Motif candidates of size 3 successfully extracted
Motif candidates of size 4 successfully extracted
Motif candidates of size 5 successfully extracted
Motif candidates of size 6 successfully extracted
Motif candidates of size 7 successfully extracted
Motif candidates of size 8 successfully extracted
Motif candidates of size 9 successfully extracted
Motif candidates of size 10 successfully extracted
Motif candidates of size 11 successfully extracted
Motif candidates of size 12 successfully extracted

In [12]:
len(ts_1d)

200000

In [13]:
len(motif_candidates_dic_list[1]['members_ts_pointers'][0])

10

In [14]:
motif_candidates_dic_list[2]

{'pattern': ['jjigfddcba'],
 'mdl_cost': 3300829.96,
 'mean_dist': 0.43,
 'members_ts_pointers': [[155178,
   155179,
   155180,
   155181,
   155182,
   155183,
   155184,
   155185,
   155186,
   155187],
  [179308,
   179309,
   179310,
   179311,
   179312,
   179313,
   179314,
   179315,
   179316,
   179317]],
 'center_ts_pointers': [155178,
  155179,
  155180,
  155181,
  155182,
  155183,
  155184,
  155185,
  155186,
  155187]}